<h1> Destination </h1>

<% @destination.each do |des|%>
    <div class="station">
        <p id="name"><%= des.name %></p>
        <p id="address"><%= des.address %></p>
        <p id="fuel_type"><%= des.fuel_type %></p>
        <p id="access_times"><%= des.access_times %></p>
    </div>
<% end %>

<h4>Distance of nearest station: <%= @destination.distance %> miles </h4>

<h4>Travel Time from <%= @destination.location %>: <%= @destination.travel_time %> min.

<h4 class="directions">Directions: <%= @destination.directions %></h4>